body {
	margin: 0;
	background-color: #f0f0f0;
}

.ajax-status {
	font-size: 70px;
	z-index: 999999;
}

.ajax-status {
	position: fixed !important;
    left: 50% !important;
	top: 40% !important;
	transform: translate(-50%, -50%) !important;
}

.form-login {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-login img {
	height: 188px;
	margin-right: 20px;
}

.form-login .ui-panelgrid .ui-panelgrid-content {
	padding: 20px;
}

header {
	width: 100%;
	min-width: 1366px;
	display: flex;
	background-color: #fff;
	justify-content: space-between;
	padding: 0 10px;
	position: fixed;
  	top: 0;
  	z-index: 101;
}

header img {
	height: 33px;
}

header .ui-menu {
	border: none;
}

header .ui-menu .ui-menuitem-text {
	font-weight: 600 !important;
}

section {
	margin-top: 37px;
	display: flex;
	justify-content: center;
	align-items: center;
}

section .form-home, section .form-pesquisa {
	min-width: 1286px;
	margin: 20px;
	background-color: #fff;
}

section .form-erro {
	margin: 100px;
}

section .form-erro .ui-panel-content {
	min-width: 700px;
	min-height: 300px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: 600;
	color: #007ad9;
}

.tabela-id {
	width: 70px;
	text-align: center;
}

.tabela-data-hora, .tabela-status, .tabela-cpf, .tabela-matricula, .tabela-telefone, .tabela-tipo-vinculo, .tabela-acao-3 {
	width: 150px;
	text-align: center;
}

.tabela-acao-1 {
	width: 70px;
	text-align: center;
}

.tabela-matricula, .tabela-acao-2, .tabela-quantidade {
	width: 100px;
	text-align: center;
}

.tabela-carga-horaria {
	width: 200px;
	text-align: center;
}

.rotulo {
	width: 150px !important;
	text-align: right;
	font-weight: 600;
}

.campo {
	min-width: 250px !important;
}

.campo .ui-selectonemenu-label {
	max-width: 222px !important;
}

.form-pesquisa .ui-panelgrid, .form-pesquisa .ui-button, .form-pesquisa .ui-datatable, .form-pesquisa .ui-fieldset {
	margin-bottom: 10px;
}

.form-pesquisa .ui-inputtextarea {
	width: 100%;
}

.form-pesquisa .ui-button {
	margin-right: 10px;
}

.enviada, .pendente, .atendida, .finalizada, .cancelada, .ativo,.inativo, .vinculo-fim-proximo {
	font-weight: 900;
}

.enviada, .pendente {
	color: #ff8000;
}

.atendida {
	color: #006600;
}

.finalizada {
	color: #0000ff;
}

.cancelada {
	color: #808080;
}

.inativo, .vinculo-fim-proximo {
	color: #ff0000;
}